---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Samuel Briole">
  <main>
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      Samuel Briole
    </h1>
    <p class="leading-7 [&:not(:first-child)]:mt-6">
      Physicist turned software engineer. I'm all about creating and sharing
      exceptional things.
    </p>
    <p class="leading-7 [&:not(:first-child)]:mt-6">
      I work at <a
        href="https://spiko.tech/"
        target="_blank"
        class="font-medium text-primary underline underline-offset-4">Spiko</a
      > as CTO. Our mission is to make capital markets infrastructure open source
      and composable.
    </p>
    <p class="leading-7 [&:not(:first-child)]:mt-6">
      I'm passionate about music, nature and, of course, cheese.
    </p>
    <p class="leading-7 [&:not(:first-child)]:mt-6">
      Welcome to my website, more content coming soon!
    </p>
  </main>
</Layout>
